.title {
  font-size: 35px;
  color: white;
}
ul {
  list-style: none;
  font-size: 30px;
  color: white;
  margin-left: 5px;
}

.vertical-line {
  /* height: 49.25 vh; */
  /* width: 0.5 vw; */
  /* background-color: rgb(160, 107, 107); */
  border-left: 0.5vw solid whitesmoke;
  margin-left: 0.5vw;
}
